@import '../../../styles/variables.scss';

.keyWord {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;

  .Title {
    @include itelic;
    font-size: 24px;
    letter-spacing: 8px;
    margin-bottom: 10px;
  }

  .SubText {
    font-size: $font-small;
    color: $color-middle-gray;
    margin-bottom: 40px;
  }

  .Container {
    .ContainerLine {
      display: flex;

      .Contents {
        width: 120px;
        height: 120px;
        border: 1px solid $color-light-gray;
        font-weight: 200;
        @include flexCenter;

        &:hover {
          border: 1px solid $color-Highlight;
          color: $color-Highlight;
        }
      }
    }
  }
}
