@import '../../styles/variables.scss';

.login {
  @include flexCenter;
  height: 100vh;

  .leftWrap {
    margin-right: 40px;

    .title {
      color: $color-black;
      font-size: 25px;
      letter-spacing: -1px;
    }
    .subtitle {
      margin-top: 10px;
      color: $color-middle-gray;
      font-size: 13px;
      line-height: 16px;
    }
    .imagesWrap img {
      width: 500px;
    }
  }

  .rightWrap {
    padding: 70px;
    border: 1px solid $color-light-gray;

    .loginTitle {
      margin-bottom: 30px;
      font-size: 32px;
      letter-spacing: -1px;
    }
    .loginWrap {
      width: 280px;
      display: flex;
      flex-direction: column;

      .loginId,
      .loginPassword {
        padding: 15px 0;
        border-bottom: 2px solid $color-light-gray;
        transition: 0.2s;
      }

      .loginIdInnerText,
      .loginPasswordInnerText {
        padding: 15px 0;
        border-bottom: 2px solid $color-middle-gray;
        transition: 0.2s;
      }

      .loginHolder {
        display: flex;
        align-items: center;
        margin-top: 30px;
      }

      .loginButton {
        margin-top: 30px;
        padding: 15px 0;
        border-radius: 5px;
        border: none;
        background-color: $color-light-gray;
        color: $color-middle-gray;
        font-size: 15px;
        transition: 0.3s;
      }
      .loginButtonChange {
        margin-top: 30px;
        padding: 15px 0;
        border-radius: 5px;
        border: none;
        background-color: #fee500;
        color: $color-black;
        font-size: 15px;
        transition: 0.3s;
      }
    }
  }
  .signupWrap {
    @include flexSpaceBetweenCenter;
    margin-top: 20px;

    .signupText {
      color: $color-dark-gray;
      font-size: 13px;
    }
  }
}
