@import '../../styles/variables.scss';

.main {
  .topButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid $color-light-gray;

    .topButtonText {
      .topButtonImg {
        margin-left: 6px;
        width: 10px;
        height: 10px;
        transform: rotate(-90deg);
      }
    }
  }
}
