.BtnSub {
  width: 80px;
  height: 32px;
  border: 1px solid #bbb;
  border-radius: 40px;
  font-size: 13px;
  font-family: 'Noto Sans Light', 'Malgun Gothic', sans-serif;
  color: #666;
  background: #fff;
  margin-left: 10px;
}
