/* Color */
/* Font size */
/* Size */
/* Margin */
.myPage .header {
  width: 100%;
  height: 230px;
  background-color: #f8f8f8;
}

.myPage .profileImageWrap {
  position: relative;
  width: 700px;
  margin: 0 auto;
}

.myPage .profileImageWrap img.profileImage {
  position: absolute;
  right: 0;
  top: -55px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
}

.myPage .mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  margin: 0 auto;
}

.myPage .mainContainer .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35px;
}

.myPage .mainContainer .profile .nickname {
  color: #101010;
  font-size: 28px;
  font-weight: 300;
}

.myPage .mainContainer .profile .nickname::-webkit-input-placeholder {
  color: #101010;
}

.myPage .mainContainer .profile .nickname:-ms-input-placeholder {
  color: #101010;
}

.myPage .mainContainer .profile .nickname::-ms-input-placeholder {
  color: #101010;
}

.myPage .mainContainer .profile .nickname::placeholder {
  color: #101010;
}

.myPage .mainContainer .profile .position {
  padding-top: 13px;
  color: #959595;
  font-size: 13px;
  font-weight: 300;
}

.myPage .mainContainer .profile .subscriber {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
}

.myPage .mainContainer .profile .subscriber .subscriberFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.myPage .mainContainer .profile .subscriber .subscriberWrap {
  margin-right: 40px;
}

.myPage .mainContainer .profile .subscriber .subscriberWrap .subscriberText {
  color: #959595;
  font-size: 12px;
  font-weight: 300;
}

.myPage .mainContainer .profile .subscriber .subscriberWrap .subscriberNumber {
  margin-top: 15px;
  color: #959595;
  font-size: 20px;
  font-weight: 300;
}

.myPage .mainContainer .writingButton {
  margin-left: 10px;
  width: 80px;
  height: 35px;
  border: 1px solid #00c3bd;
  color: #00c3bd;
  font-weight: 300;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.myPage .mainContainer .writingButton:hover {
  color: #fff;
  background-color: #00c3bd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.myPage .writerContainer {
  width: 700px;
  margin: 0 auto 60px;
}

.myPage .writerContainer .writerTitle {
  width: 230px;
  margin-top: 100px;
  padding-top: 15px;
  border-top: 1px solid #666;
  color: #101010;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}

.myPage .writerContainer .writerWrap {
  margin-top: 70px;
}

.myPage .writerContainer .writerWrap .information {
  margin: 30px 0;
  color: #101010;
  font-size: 12px;
}

.myPage .writerContainer .writerWrap .description {
  width: 100%;
  height: 100px;
  color: #666;
  border: none;
  outline: none;
  line-height: 20px;
  font-size: 13px;
  font-weight: 300;
  resize: none;
}

.myPage .writerContainer .writerWrap .description::-webkit-input-placeholder {
  color: #101010;
}

.myPage .writerContainer .writerWrap .description:-ms-input-placeholder {
  color: #101010;
}

.myPage .writerContainer .writerWrap .description::-ms-input-placeholder {
  color: #101010;
}

.myPage .writerContainer .writerWrap .description::placeholder {
  color: #101010;
}
/*# sourceMappingURL=MyPage.css.map */