@import '../../../styles/variables.scss';

.Slide {
  .SlideImage {
    position: relative;
  }
  .SlideButton {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
  }

  // .SlideNumber {
  //   display: flex;
  //   justify-content: center;
  // }
}
