@import '../../../styles/variables.scss';

.title {
  display: flex;
  flex-direction: column;
  margin: 0 20%;

  .mainTitle {
    font-size: 40px;
    color: $color-black;
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    @include itelic;

    .img {
      width: 40px;
      height: 40px;
      border-radius: 50px;
    }
  }

  .mainSubTitleContainer {
    .mainSubTitle {
      font-size: 32px;
      padding-bottom: 10px;
      color: $color-light-gray;
      @include itelic;
    }

    .mainSubTitle2 {
      font-size: 32px;
      padding-bottom: 10px;
      color: $color-light-gray;
      @include itelic;
    }
  }
}

.newUpData {
  display: flex;
  justify-content: right;
  color: $color-Highlight;
  @include itelic;
  font-style: italic;
  font-size: 11px;
  margin: 20px 20%;

  .Text {
    color: $color-light-gray;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
