@import '../../styles/variables.scss';

.signup {
  @include flexCenterColumn;

  .title {
    margin: 30px 0;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -0.5px;
  }

  .signupWrap {
    width: 650px;
    margin-bottom: 50px;
    padding: 40px 75px 0 75px;
    border: 1px solid $color-light-gray;

    .line {
      width: 40px;
      margin: 40px 0;
      padding: 2px 0;
      border-radius: 30px;
      background-color: $color-black;
    }

    .subtitleWrap {
      padding-bottom: 30px;

      .subtitle {
        font-size: 24px;
        font-weight: normal;
        line-height: 34px;
      }
    }
  }

  form {
    position: relative;

    .profile {
      display: none;
    }
    .profilePicture {
      position: absolute;
      top: -114px;
      right: 0;
      width: 60px;
      cursor: pointer;
    }

    .essentialValue {
      margin: 20px 0;
      color: red;
    }

    .inputIdformat {
      width: 100%;
      margin: 15px 0;
      padding: 5px 0;
      border-bottom: 2px solid $color-light-gray;
      font-size: 18px;
    }

    .passwordInfomation {
      margin-bottom: 8px;
      color: $color-middle-gray;
      font-size: 12px;
    }

    .emailErrorOff {
      display: none;
      margin-bottom: 8px;
      font-size: 12px;
    }

    .emailErrorOn {
      margin-bottom: 8px;
      color: $color-middle-gray;
      font-size: 12px;
    }

    .passwordError {
      margin-bottom: 8px;
      color: red;
      font-size: 12px;
    }

    .additionalInput {
      margin-top: 40px;
      color: $color-middle-gray;
    }
  }

  .footerTextWrap {
    margin-top: 40px;
    .footerText {
      padding: 5px 0;
      color: #999999;
      font-size: 12px;
    }
  }

  .signupSubmit {
    width: 100%;
    padding: 15px 0;
    margin: 40px 0;
    border-radius: 5px;
    border: none;
    background-color: #fee500;
    transition: 0.3s;
    font-size: 18px;
  }
}
