@import '../../../styles/variables.scss';

.buttom {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  padding-top: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $color-light-gray;
  background-color: white;
  overflow: scroll;

  .list {
    text-align: center;

    .listIndex {
      margin-bottom: 30px;
      font-weight: 300;
      color: $color-black;

      &.list1 {
        text-align: center;
        margin-top: 40px;
      }
    }
  }

  .centerLine {
    padding: 10px 30px 40px;
    display: flex;
    align-items: center;

    .line {
      height: 1px;
      width: 60px;
      border-top: 1px solid $color-light-gray;
    }

    .lineLogo {
      margin: 0 10px;
      color: $color-light-gray;
    }
  }

  .bestCode {
    color: $color-middle-gray;
    margin: 30px 0;
    font-weight: 300;

    .underLine {
      border-top: 2px solid black;
      margin-top: 10px;
    }
  }

  .findID {
    color: $color-middle-gray;
    text-decoration: underline;
    font-weight: 300;
  }

  .buttonContainer {
    display: flex;
    margin: 40px 20px 30px;

    .settings,
    .logout {
      padding: 10px;
      margin: 0 6px;
      border-radius: 50px;
      border: 1px solid lightgrey;
    }
  }
}
