@import '../../styles/variables.scss';

.detailNav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100vw;
  z-index: 999;
  background-color: white;
  .navLeft {
    display: flex;
    align-items: center;

    .hamburgerButton {
      cursor: pointer;
    }

    .logo {
      margin-left: 14px;
      @include itelic;
      font-style: italic;
      font-size: 16px;
      text-decoration: underline;
      color: black;
    }
  }

  .navRight {
    display: flex;
    align-items: center;

    .favorite {
      width: 28px;
    }

    .comment {
      width: 30px;
      margin-left: 10px;
      cursor: pointer;
    }

    .searchIcon {
      margin-left: 14px;
      color: $color-black;
    }
  }
}
