@import '../../styles/variables.scss';

.hamburger {
  position: absolute;
  top: 0;
  font-weight: 300;
  z-index: 999;
  display: flex;

  .hamburgerLeftContainer {
    width: 260px;
    display: flex;
    flex-direction: column;
  }

  .dim {
    width: 100vw;
    height: 100vh;
  }
}
