@import '../../styles/variables.scss';

.hamburgerLogin {
  position: absolute;
  top: 0;
  font-weight: 300;
  z-index: 999;
  display: flex;

  .hamburgerLeftContainer {
    width: 260px;
    display: flex;
    flex-direction: column;

    .top {
      @include flexCenter;
      flex-direction: column;
      border: 1px solid $color-light-gray;
      border-top: none;
      background-color: $color-deep-white;
      min-height: 260px;
      z-index: 20;

      .userImg {
        width: 60px;
        height: 60px;
        border-radius: 50px;
      }

      .userName {
        @include itelic;
        font-style: italic;
        color: $color-dark-gray;
        margin: 10px 0;
      }

      .userCode {
        font-size: 12px;
        color: $color-middle-gray;
        @include itelic;
        font-style: italic;
      }

      .startContainer {
        padding-top: 26px;

        .startButton {
          padding: 8px 14px;
          margin: 20px 6px 0;
          border: 1px solid $color-Highlight;
          border-radius: 50px;
          color: $color-Highlight;
          background-color: white;
          font-size: 12px;
          font-weight: 300;
        }
      }
    }

    .buttom {
      position: absolute;
      top: 0;
      left: 0;
      width: 260px;
      height: 100vh;
      padding-top: 260px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid $color-light-gray;
      background-color: white;
      overflow: scroll;

      .list {
        text-align: center;

        .listIndex {
          margin-bottom: 30px;
          font-weight: 300;

          &.list1 {
            text-align: center;
            margin-top: 40px;
          }
        }
      }

      .centerLine {
        padding: 10px 30px 40px;
        display: flex;
        align-items: center;

        .line {
          height: 1px;
          width: 60px;
          border-top: 1px solid $color-light-gray;
        }

        .lineLogo {
          margin: 0 10px;
          color: $color-light-gray;
        }
      }

      .bestCode {
        color: $color-middle-gray;
        margin: 30px 0;
        font-weight: 300;

        .underLine {
          border-top: 2px solid black;
          margin-top: 10px;
        }
      }

      .findID {
        color: $color-middle-gray;
        text-decoration: underline;
        font-weight: 300;
      }

      .buttonContainer {
        display: flex;
        margin: 40px 20px 30px;

        .settings,
        .logout {
          padding: 10px;
          margin: 0 6px;
          border-radius: 50px;
          border: 1px solid lightgrey;
        }
      }
    }
  }

  .dim {
    width: 100vw;
    height: 100vh;
  }
}
