@import '../../styles/variables.scss';

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100vw;
  z-index: 999;
  background-color: white;

  .navLeft {
    display: flex;
    align-items: center;

    .hamburgerButton {
      cursor: pointer;
    }

    .logo {
      margin-left: 14px;
      @include itelic;
      font-style: italic;
      font-size: 16px;
      text-decoration: underline;
      color: $color-black;
    }
  }
}
