@import '../../styles/variables.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100vw;
  z-index: 999;
  background-color: white;

  .navLeft {
    display: flex;
    align-items: center;

    .logo {
      margin-left: 14px;
      @include itelic;
      font-style: italic;
      font-size: 16px;
      text-decoration: underline;
    }
  }

  .navRight {
    display: flex;
    align-items: center;

    .startButton {
      padding: 8px;
      border: 1px solid $color-middle-gray;
      border-radius: 50px;
      font-size: 12px;
      color: $color-middle-gray;
      background-color: white;
      font-weight: 300;
    }

    .searchIcon {
      margin-left: 14px;
    }
  }
}
